<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.ReplyMapper">

	<!-- 댓글 하나 가져오기 bno 일치시-->
	<select id="read" resultType="com.spring.domain.ReplyDTO">
		select * from spring_reply where rno=#{rno}
	</select>
</mapper>