<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.MemberMapper">
	<!-- 회원가입 : 5개(userid, password, name, gender, email -->
	<insert id="insert">
		insert into membertbl(userid, password, name, gender, email) 
		values(#{userid}, #{password}, #{name}, #{gender}, #{email})
	</insert>
	
	<!-- 회원탈퇴 : userid, password 일치 시 -->
	<delete id="delete">
		delete from membertbl where userid=#{userid} and password=#{password}
	</delete>
	
	<!-- 회원정보수정 : userid,password 일치 시 email qusrud -->
	<update id="update">
		update membertbl set email=#{email} where userid=#{userid} and password=#{password}
	</update>
	
	<!-- 회원조회 : userid, password 일치 -->
	<select id="getRow" resultType="com.spring.domain.MemberDTO">
		select * from membertbl where userid=#{userid} and password=#{password}
	</select>
	
	<!-- 전체회원조회 : userid, name, email 만 조회 -->
	<select id="getRows" resultType="com.spring.domain.MemberDTO">
		select userid,name,email from membertbl
	</select>

</mapper>